@import url("style.css");

:root {
    --color-highlight: #449c8c;

    --color-bg-main: #7E9B11;
    --color-bg-menu: #5F7411;
    --color-bg-box: #6C8412;
    --color-bg-error: rgb(87, 32, 32);
    --color-delete: #8b2821;
    --color-header-menu: rgba(255, 255, 255, 0.8);
    --color-main-shadow: rgba(0, 0, 0, 0.6);
    --size-main-shadow: 50px;

    --color-text-duller: #292D39;
    --color-text-dull: #D7D7DD;
    --color-text-main: #fff;
    --color-text-link: var(--color-highlight);
    --color-text-in-highlight: var(--color-text-main);

    --color-input-background: var(--color-bg-main);
    --color-input-border: #000;
    --color-input-border-active: #444b5d;
    --color-button-secondary: #2e3e4c;
    --color-button-disabled: #7c9c97;

    --width-sidebar-small: 200px;
    --width-sidebar-medium: 250px;

    --emoji-height: 1.1em;
}

body.theme-light {
    --color-bg-main: #d4dee7;
    --color-bg-menu: #c0ccd8;
    --color-bg-box: #f0f3f5;
    --color-bg-error: rgb(219, 144, 144);
    --color-delete: #884743;
    --color-header-menu: rgba(0, 0, 0, 0.7);
    --color-main-shadow: rgba(0, 0, 0, 0.1);
    --size-main-shadow: 20px;

    --color-text-duller: #4f5157;
    --color-text-dull: rgb(62, 62, 68);
    --color-text-main: rgb(0, 0, 0);
    --color-text-link: var(--color-highlight);

    --color-input-background: var(--color-bg-main);
    --color-input-border: rgb(109, 109, 109);
    --color-input-border-active: #464646;
    --color-button-secondary: #5c6770;
    --color-button-disabled: #a1a1a1;
}